.page-navigator {
    min-width: 240px;
    font-size: 12px;
    .anchor-list {
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        &.sub {
            padding: 0 0 0 .5em;
        }
    }
    .anchor-item {
        width: 100%;
        min-height: 30px;
        padding: 9px 6px;
        line-height: 12px;
        &.active {
            background: #1976d2;
            color: #fff;
        }
    }
}
