<div nz-row [nzType]="'flex'">
  <div nz-col [nzSpan]="18" class="page-wrapper">
    <h1 pnAnchor>main title1</h1>
    <section class="whole-page">
      long content1
    </section>
    <h1 pnAnchor>main title2</h1>
    <section class="whole-page">
      long content2
    </section>
    <h1 pnAnchor>main title3</h1>
    <section class="whole-page">
      long content3
    </section>
  </div>
  <div nz-col [nzSpan]="6">
    <nz-affix>
      <pn-navigator></pn-navigator>
    </nz-affix>
  </div>
</div>
